<div class="drawer" data-action="nav">
  <div class="drawer__nav">
    <div class="drawer__close">
      <img class="drawer__close-icon js-drawer__close" width="20" height="17" data-action="nav-close" src="../assets/toolkit/images/menu-close.svg" alt="" />
    </div>
    <a class="drawer__link" href="home.html">Home</a>
    <a class="drawer__link" href="new-to-church.html">I'm New</a>
    <a class="drawer__link" href="ministries.html">Ministries</a>
    <a class="drawer__link" href="about.html">About</a>
    <a class="drawer__link" href="statement-of-faith.html">What we believe</a>
    <a class="drawer__link" href="our-values.html">Our Values</a>
    <a class="drawer__link" href="article.html">Article/Blog</a>
    <a class="drawer__link" href="testimonies.html">Testimonies</a>
    <a class="drawer__link" href="contact.html">Contact</a>
    <a class="drawer__link" href="our-story.html">Our Story</a>
  </div>
</div>
