<header class="top-bar">
  <a class=top-bar__logo href="home.html">
    <img alt="Liberty Church" src="../assets/toolkit/images/liberty-logo-text.svg" />
  </a>

  <nav class="top-bar__nav nav">
    <div class="nav__links">
      <a class="nav__link" href="new-to-church.html">I'm New</a>
      <a class="nav__link" href="ministries.html">Ministries</a>
      <a class="nav__link is-active" href="about.html">About</a>
      <a class="nav__link" href="contact.html">Contact</a>

    </div>
  </nav>

  <a class="top-bar__nav-toggle js-nav__toggle"> <img width=20 height=17 src="../assets/toolkit/images/menu.svg" /> Menu</a>

</header>
