.article {
padding: 0 1.5em;

  @include large {
  padding: 0;
  }

  hr {
    margin: 0 auto 16px;
    width: 100px;
    border-color: $bordercolor;
  }
}

.article__header {
padding-top: 40px;
}

.article__date {
  font-size: 0.6875em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
}

.article__heading {
  text-align: center;
font-size: 2.625em;
}

.article__meta {
text-align: center;
display: block;
margin-bottom: 2em;

  ul {
    list-style: none;
  }

  li {
    padding: 0 10px;
    display: inline-block;
  }
}
.article__feature-image {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.article__body {
  max-width: 800px;
  margin: 0 auto;
}

.lead {
  font-size: 1.125em;
  font-weight: bold;
}
.article__footer {
  padding: 1em 0;
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid $bordercolor;
  border-bottom: 1px solid $bordercolor;
}
