html {
font-size: 1em;
line-height: 1.6;
box-sizing: border-box;
position: relative;
min-height: 100%;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
line-height: 1.5;
color: $textcolor;
}

@include medium {
	body {
	padding-top: 76px;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
line-height: 1.4;
margin: 0;
}

blockquote {
font-style: italic;
border-left: 2px solid #37A8CE;
padding-left: 1em;
line-height: 1.6;
margin-left: 1.5em;
}

::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}


hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid $bordercolor;
margin: 1em 0;
padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
vertical-align: middle;
}

img,
video {
max-width: 100%;
height: auto;
}

fieldset {
border: 0;
margin: 0;
padding: 0;
}


textarea {
resize: vertical;
}


a {
color: $linkcolour;
transition: all 0.3s ease;
}

a:hover {
color: lighten($linkcolour, 5%); }


.emphasis {
	background: #fff;
	color: #000;
	padding: 4px 6px;
	margin: 4px 4px;
}
