.btn {
padding: 0.75em 1.5em;
border: 1px solid #ccc;
border-radius: 3px;
background: $black;
color: $white;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
font-weight: bold;

  &:hover {
    background: lighten($black, 20%);
  }

}


.btn--outline {
  background: transparent;
  color: $black;

  &:hover {
    background: transparent;
    border-color: lighten(#cccccc, 10%);
  }


}
