.btn {
padding: 0.75em 1.5em;
border-radius: 6px;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
font-weight: bold;
transition: background-color 0.3s ease;
}


.btn--outline {
border-width: 2px;
border-style: solid;
transition: border-color 0.3s ease;
}
