.collapsible {
border-top-width: 1px;
border-top-style: solid;
border-top-color: $collapsible-border-color;
border-left-width: 1px;
border-left-style: solid;
border-left-color: $collapsible-border-color;
border-right-width: 1px;
border-right-style: solid;
border-right-color: $collapsible-border-color;
list-style: none;
margin: 0;
padding: 0;
}

.collapsible-header {
display: block;
cursor: pointer;
min-height: $collapsible-height;
line-height: $collapsible-height;
padding: 0 1rem;
background-color: $collapsible-header-color;
border-bottom: 1px solid $collapsible-border-color;
font-weight: bold;

  i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: $collapsible-height;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }
}

.collapsible-body {
display: none;
border-bottom: 1px solid $collapsible-border-color;
box-sizing: border-box;
padding: 1rem;
}
