// ----------------------------------------------------------------
//
// Breakpoints
//
// ----------------------------------------------------------------
$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;


// Helpers
$col-full:              100%;
$col-half:              100% / 2;

// Grid widths
// ----------------------------------------------
// Feel free to change this to how many columns
// you want this grid system to have.
$col-start:             1;
$col-end:               12;

// Frame width (grid wrapper)
$row-width:       100%;



$white: #fff;
$black: rgb(30, 30, 30);
$montana: #363839;
$codgrey: #282a2b;

$kidsblue: rgb(51, 196, 231);
$kidsorange: rgb(239, 154, 53);
$marriagepurple: rgb(181, 137, 253);
$couragouswomen: rgb(157, 115, 109);
$lambs: rgb(155, 64, 149);
$lambsmint: #53c5d0;
$youthgreen: #3bbfbd;
$foundationblue: #1b8af2;
$foundationgreen: #dafa03;


$instagram: #e1306c;
$twitter: #1da1f2;
$facebook: #3b5998;
$vimeo: #1ab7ea;


// Liberty Rich
$shiraz: rgb(140, 42, 60); //RED
$blackrock: rgb(49, 54, 64);
$shipcove: #4f7b9b; //rgb(114, 146, 173);
$silver: rgb(194, 194, 194);
$whitesmoke: rgb(242, 242, 242);

$textcolor: #555;
$linkcolour: $shipcove;
$bordercolor: #ccc;


// collapsible / expandable component
$collapsible-border-color: #ccc;
$collapsible-height: 3rem;
$collapsible-header-color: #fff;

// Navigation - Top Bar
$top-bar-bg-color: $white;
$top-bar-toggle-border-color: $shipcove;
$top-bar-toggle-icon-color: $shipcove;
