.header {
max-width: 1080px;
margin-left: auto;
margin-right: auto;
padding: 1em 0;
}

.header:after {
content: " ";
display: block;
clear: both;
}

.header__logo {
float: left;
padding-left: 15px;
}

.header__nav {
padding: 0 15px;
float: right;
}
