.theme-dark {
background-color: $codgrey;
color: $whitesmoke;

  .btn {
  background-color: $shiraz;
  color: $whitesmoke;

    &:hover {background-color: lighten($shiraz, 10%);}

  }

  &.collapsible {
  border-left-color: lighten($shipcove, 10%);
  border-right-color: lighten($shipcove, 10%);
  border-top-color: lighten($shipcove, 10%);
  }

  .collapsible-header {
  background-color: $shipcove;
  border-bottom-color: lighten($shipcove, 10%);
  }

  .collapsible-body {
  background-color: $white;
  color: $textcolor;
  }
}


.theme-light {
background-color: #f7f7f7;
color: $black;
border-bottom: 1px solid $bordercolor;

  .btn {
  background-color: $shipcove;
  color: $whitesmoke;

    &:hover {background-color: darken($shipcove, 10%)}

  }

}

.theme-marriage {
background-color: lighten($marriagepurple, 20%);
border-bottom: 1px solid $bordercolor;

  .btn {
  background-color: $marriagepurple;
  color: $whitesmoke;

    &:hover {  background-color: darken($marriagepurple, 10%);}

  }

  .btn--outline {
  background: transparent;
  border-color: $marriagepurple;
  color: $marriagepurple;

    &:hover {
    background: transparent;
    border-color: darken($marriagepurple, 10%);
    color: darken($marriagepurple, 10%);
    }

  }

}


.theme-kids {
background-color: #FCEE21;
color: $black;
}


.theme-instagram,
.theme-twitter,
.theme-vimeo,
.theme-facebook {
padding: 0;
transition: opacity 0.3s ease;

  &:hover {opacity: 0.8;}

  a {
  padding: 2rem;
  }

}

.theme-instagram {
background-color: $instagram;
}

.theme-twitter {
background-color: $twitter;
}

.theme-facebook {
background-color: $facebook;
}

.theme-vimeo {
background-color: $vimeo;
}


.theme-home-header {
background-color: $codgrey;
color: $whitesmoke;

  .btn {
  background-color: $shiraz;
  color: $whitesmoke;

    &:hover {background-color: lighten($shiraz, 10%);}

  }

  .home__logo {
  position: relative;
  top: -3rem;
  left: -1.5rem;
  }

  .home__time {
    margin: 0;
  }
  .home__location {
    margin-bottom: 1.5rem;
  }

}
