@import "config";

@import "normalize";
@import "breakpoints";
@import "z-index";
@import "print";

@import "elements";
@import "base";
@import "blocks";
@import "buttons";
@import "collapsible";
@import "topbar";
@import "header";
@import "navigation";
@import "footer";
@import "themes";
@import "article";


.container {
max-width: 800px;
margin: 0 auto;
padding: 0 30px;
display: block;
overflow: visible;
}
