<div class="content-block theme-light">
  <h2 class="content-block__heading">Extend Apostolic Network</h2>
  <h3 class="content-block__subheading">We're connected</h2>
  <div class="content-block__content">
    <p>"To reach and influence the world by building a large
  Christ-centered, Bible-based church, changing mindsets
  and empowering people to lead and impact in every
  sphere of life."</p>
</div>
  <div class="content-block__footer">
    <a class="btn" href="#">Call to Action</a>
    <a class="btn" href="#">Call to Action</a>
  </div>
</div>
