<div class="card">
  <a class="card-inner" href="article.html">
    <div class="card__image">
      <img src="{{baseurl}}/assets/toolkit/images/kids-asher.jpg" />
    </div>
    <div class="card__body">
      <div class="card__title">Whatever It Takes, Lord</div>
      <div class="card__date">Aug 9, 2016</div>
      It can feel extreme or terrifying to pray, “Whatever it takes, Lord,” but Christians know they can trust God to do whatever needed to give us real joy.
      </div>
    <div class="card__footer">
      <div class="card__author">
        <div class="card__author-image"></div>
        Richard Saunders
      </div>
    </div>
  </a>
</div>
