{{> base.header}}
<div class="container">
<main role="main">
  <article class="article">
    <header class="article__header">
      <div class="article__titles">
        <time class="article__date" datetime="2016-08-04">August 4, 2016</time>
        <h1 class="article__heading">Let’s Teach Our Kids ‘Beautiful’</h1>
      </div>
      <hr>
      <div class="article__meta">
        <ul>
          <li>Article by Author: <a href="#">Richard Saunders</a></li>
          <li>Topic: <a href="#">Music</a>, <a href="#">Worship</a></li>
        </ul>
      </div>
    </header>
    <figure class="article__feature-image">
      <img src="../assets/toolkit/images/blog.jpg" />
    </figure>
    <div class="article__body">
      <p class="lead">On a recent vacation, I sat on the beach enjoying a sliver of one of those exquisitely designed days: clear sunny sky, warm breeze, the Atlantic Ocean that stunning mix of clear and steel blue. </p>

      <p>My four kids were content and un-requiring (for once), so I sunk into my chair to take it all in. Almost immediately, a child walked into the expanse of sand between me and the sea. I watched as he aimlessly wandered up and down the beach, cell
        phone in hand, eyes squinting at his little screen, completely oblivious to everything around him. </p>

      <p>It made me think about parenting — not this particular kid or his particular parents — but my own parenting.</p>

      <h2>Oblivious to Beauty</h2>

      <p>Vacations tend to provoke all kinds of ideas about life, work, balance, and everything you want to do differently when you get back. The quietness and loveliness contrasts real life so much it begs for some recalibration. You realize, at some point
        along the way, you may have started heading the wrong direction. </p>

      <p>It hit me as I watched this wandering, distracted kid, mesmerized by a tiny handheld device, oblivious to the glorious beauty stretching in every direction. Are the things I am consistently putting in front of my children helping them see and enjoy
        God, or are they blocking the view of him? It’s easy to simply focus on what <em>not</em> to put before them, but forget to show them beauty, or forget to teach them about beauty when they’re exposed to it. </p>

      <h2>Children Learn to See</h2>

      <p>My one-year-old was new to the beach this year. It wasn’t enough for me to plop her down in the hot sand, and tell her to have fun. I had to teach her how to experience and enjoy the beach — carry her to the water and help her begin to dip her toes
        in the waves. I had to point out the shells, and show her how to rinse the scratchy sand off her hands. </p>

      <p>My five-year-old is a bit further along. She knows how to dig for sand crabs, and points out how the ocean changes shades of blue from day to day. My older boys can now swim out to the sand bar and catch waves. The oldest notices cloud formations,
        warning me there will likely be an evening storm. They’re each learning to see and savor the beach. Just like I am.</p>

      <h2>Five Ways to Teach Them Beauty</h2>

      <p>As I watched this all unfold, I realized how badly I want them to be able to experience and enjoy God. I want them to see him in ways I was oblivious to for such a huge portion of my life. My eyes were glued to lesser things that seemed so big and
        wonderful at the time, until I finally exchanged the poor shadows and reflections for the true and full source of all beauty. </p>

      <p>And yet so easily with my parenting, I slip into rules and lecturing that (in the words of my 10-year-old) “make God sound like a grumpy old man.” I hide the beauty and the wonder.</p>

      <p>How do I avoid this? Here are some resolutions I’m working through as a mother.</p>

      <h3>1. Put before my children what is true and lovely and excellent.</h3>

      <p>Saturate their lives with God’s word and God’s creation. What I put before them is often more important than what I am not. It’s so easy to surround them with what’s mediocre, flashy, and dumbed-down, and then wonder why they don’t respond to excellence
        when finally confronted with it.</p>

      <h3>2. Parent them like God parents me.</h3>

      <p>Am I parenting from God’s strength and grace, or from my emotions? My ultimate goal should be that my children desire to do what is good and right and excellent because that’s who God is, not just because I say so. Yes, children need to learn obedience
        and boundaries before they can enjoy freedom, but they are never too young to learn beauty.</p>

      <h3>3. Teach them and show them how everything points to God.</h3>

      <p>Teach them about beauty that makes our soul soar, <em>and</em> about ugliness that makes our soul ache. It could be the sunset, or an artistic masterpiece, or Greek mythology with its capricious and temperamental gods, or a musician singing about
        sorrow or longing, or a movie that make us laugh, or well-written literature about the triumph of good over evil. It all points to God.</p>

      <p>And don’t waste the ugliness that ends up before them, because it can make the beauty that much clearer. Point it out if needed, and talk about it with them. The goal isn’t developing cynicism, but identifying truth and valuing beauty. If we’re
        regularly showing them beauty and excellence, it quickly becomes easier to identify a counterfeit. </p>

      <p>We might talk about why an overheard word is wrong, or why acts of violence in our world are so contrary to God’s character, or what that TV commercial is trying to sell us and how. The light shines through far brighter in the darkness. Use discretion,
        but make sure they understand that it’s the gates of hell that shall not prevail against Christ and his church — not the other way around.</p>

      <h3>4. Stop relying on someone else to do the majority of this for me.</h3>

      <p>God has not given this particular job first to teachers, or Christian radio, or even our church. God entrusted these sons and daughters to my husband and me. Teaching them should be a constant, intentional, organic process in our home and outside
        of it — at times, requiring surprisingly few words. </p>

      <p>Point out God’s handiwork in how plants grow and in the beauty of nature. Pray together and often, and about lots of things. Read God’s word, and memorize it together. Lead them to the <em>source</em>. Resist the urge to lecture or package it up
        into entertaining little child-friendly snippets, while underestimating the power that simply God’s word and his creation can have on a child over time. Let the Holy Spirit work. Allow them to experience the wonder and joy of God as <em>he</em>        wants them to see it, not the weariness that can so easily come when I hit them over the head with God’s truth as <em>I</em> want them to see it.</p>

      <h3>5. Enjoy God in my own life and allow them to witness it.</h3>

      <p>Don’t focus so much on my children’s souls that I neglect my own. How can I point out beauty to them if I can’t see it myself? Why would they yearn for the joy of knowing God if that joy is not evident in me? My life needs to revolve around Christ,
        not my children. I can parent far better when my heart is set on him first.</p>

      <p>I’m slowly learning this in my own life. I’m learning how to see and savor God in the peaceful moments, as well as in the chaos. But knowing God isn’t a journey we begin once we’ve hit adulthood; it’s one we embark on the second we can see, and
        hear, and smell, and taste, and touch. </p>

      <p>My children belong to God, not to me, and they were created to know and enjoy their Maker in the same way I do. We are on that journey together. My job as their parent is to point them to their Father, teach them to truly see him, and help them
        grasp their need for a Savior. <em>That</em> is why we teach them “beautiful” — because there is nothing more beautiful than the cross and the One it purchased for us — the One whom every other beautiful thing reflects.</p>

    </div>
    <footer class="article__footer">
      <div class="author">
        <div class="author__image">
          <img src="#" title="Author Name" />
        </div>
        <div class="author__bio">
          <p>This is the authors bio.</p>
        </div>
      </div>
    </footer>
  </article>
</main>
</div>
{{> base.footer}}
