---
title: New to church
---
{{> base.header}}
{{> site-blocks.header-block-new}}

{{> site-blocks.block-service}}

<ul class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">What about my kids?</div>
    <div class="collapsible-body"><p>We have Liberty Kids, which is for children from nursery year through to Year 6. The children are generally in the main service for praise and worship and then will have opportunity to go out and have crazy with their kids church leaders.</p>

    <p>You can register your child before the service starts, or if you miss that, please just take them along to the kids church and register them then.</p></div>
  </li>
  <li>
    <div class="collapsible-header">Is there a mother&#8217;s area?</div>
    <div class="collapsible-body"><p>Yes, we have space for mums to take their children, but also to sit with newborns during the service. Please feel free to have your children in the main service. We are family and want you as mums to be a part of what is going on as much as possible.</p></div>
  </li>
</ul>

{{> site-blocks.block-getinvolved}}

{{> site-blocks.grid-beliefs}}

{{> site-blocks.block-new-bepartofus}}

{{> base.footer}}
