---
title: New to church
---
{{> base.header}}
{{> site-blocks.header-block-new}}

<h2>The Service</h2>

<p>The main celebration runs for about an 1hour 20mins and includes a time of singing, prayer and talk from our lead elder and their team.</p>


<ul class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">What about my kids?</div>
    <div class="collapsible-body"><p>We have Liberty Kids, which is for children from nursery year through to Year 6. The children are generally in the main service for praise and worship and then will have opportunity to go out and have crazy with their kids church leaders.</p>

    <p>You can register your child before the service starts, or if you miss that, please just take them along to the kids church and register them then.</p></div>
  </li>
  <li>
    <div class="collapsible-header">Is there a mother&#8217;s area?</div>
    <div class="collapsible-body"><p>Yes, we have space for mums to take their children, but also to sit with newborns during the service. Please feel free to have your children in the main service. We are family and want you as mums to be a part of what is going on as much as possible.</p></div>
  </li>
</ul>


{{> site-blocks.block-new-faithstatement}}
{{> site-blocks.block-new-vision}}

<h2>How can I get involved?</h2>

<p>We have a connections table and would love to chat to you there. Also please just grab one of the team or elders at any time, we would love to spend time connecting with you.</p>

<p>Background to various ministries including and referencing</p>

<ul>
<li>Liberty Groups</li>
<li>Walking Group</li>
<li>Musicians</li>
<li>Prayer meetings</li>
</ul>

<p><a href="http://www.libertychurchuk.com/ministries">Life of the church</a></p>

{{> site-blocks.block-new-bepartofus}}



{{> base.footer}}
