---
title: New to church
bodyclass: new
---
{{> base.header}}
{{> site-blocks.header-block-new}}


<!-- <div class="content-block content-block--overlay-blackrock content-block--fullwidth">
  <iframe src="https://player.vimeo.com/video/153099880?loop=1&color=4f7b9b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div> -->


{{> site-blocks.block-service}}







<div class="content-block">
  <div class="content-block-inner">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">What about my kids?</div>
        <div class="collapsible-body"><p>We have Liberty Kids, which is for children from nursery year through to Year 6. The children are generally in the main service for praise and worship and then will have opportunity to go out and have crazy with their kids church leaders.</p>

        <p>You can register your child before the service starts, or if you miss that, please just take them along to the kids church and register them then.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Is there a mother&#8217;s area?</div>
        <div class="collapsible-body"><p>Yes, we have space for mums to take their children, but also to sit with newborns during the service. Please feel free to have your children in the main service. We are family and want you as mums to be a part of what is going on as much as possible.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Where do I park?</div>
        <div class="collapsible-body"><p>If you are planning to attend one of our Sunday morning services, you will be greeted by one of our friendly welcoming team members who will help direct you to available parking. We have several spots reserved just for first-time visitors.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What do I wear?</div>
        <div class="collapsible-body"><p>Dress comfortably, we're a church of diverse people. You'll feel right at home wearing anything from shorts, to jeans to smart casual.</p></div>
      </li>
    </ul>
  </div>
</div>



{{> site-blocks.block-getinvolved}}

<!--{{> site-blocks.grid-beliefs}}-->

{{> site-blocks.block-new-bepartofus}}

{{> site-blocks.block-location}}

{{> base.footer}}
