---
title: Our Vision
---
{{> base.header}}
{{> site-blocks.header-block-vision}}
<div class="container">
<h2>A Church whose head is Jesus, whose helper is the Holy Spirit,whose focus is the Great Commission (Matt 28: 16&#8211;20)</h2>

<p>A church who believe in God the Father, Christ his son and the Holy Spirit. A people reliant on the Holy Spirit, unified, a people full of the word and the Spirit . Believers who truly believe. A people who know they are a new creation.</p>

<h2>A Church who Come Together, Believe Together, Build Together, Celebrate Together.</h2>

<p>Where Sunday is a celebration and a reflection of Monday through Saturday. A family who truly share life together. Our lives, our church, our homes being places where people are drawn to. A people who build generationally, who can see beyond their current lives. A people who are intentional about investing in those around them.</p>

<h2>A healthy church… growing in number, depth and influence.</h2>

<p>A house of salvation, where disciples are created. A people who are excited to share their lives and passion for Jesus with others. An Empowering people, who build up and edify one another. A pioneering people who occupy their space, their street, their world. Who dream, see visions, and believe for the impossible.</p>

<p>A people so generous in all they are and do.</p>

<h2>A Church whose worship is creative, full of thanks giving, expectancy and unity.</h2>

<p>In everything we do, we see it as worship. Where our Sundays are full of authentic worship, coming forth in creative ways. Where new songs are sung; where the Holy Spirit is given time and space to move.</p>

<h2>A Church whose leadership are passionate about Jesus.</h2>

<p>A people of excellent character, credible, with integrity and accountable. A people full of faith and hope, who are passionate about creating leaders.</p>

<h2>A Church whose witness and impact is local, national and international (Acts 1:8)</h2>

<p>A church who dream on a global scale, and yet personal enough for every individual to find their place.</p>

<h2>A Church who celebrates and works together with other churches.</h2>

<p>Championing the cause of the local church, working for the good of our city, our nation and beyond.</p>

<h2>A church full of big believers, with big vision and big hearts.</h2>
<p>This will be our church</p>
</div>
{{> base.footer}}
