---
title: Who we are
---
{{> base.header}}
{{> site-blocks.header-block-who-we-are}}

<div class="content-block content-block--overlay-blackrock content-block--fullwidth">
  <iframe src="https://player.vimeo.com/video/153099880?loop=1&color=4f7b9b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="container">

<div class="row">
  <div class="col-2">
    <div class="profile">
      <div class="profile__photo">
        <img src="{{baseurl}}/assets/toolkit/images/profiles/heath-van-staden.jpg" />
      </div>
      <div class="profile__info">
        <div class="profile__name">Heath Van Staden</div>
        <div class="profile__title">Lead Elder</div>
        <nav class="profile__contact">
          <a href="http://www.twitter.com/username">Twitter</a>
          <a href="http://www.twitter.com/username">Facebook</a>
          <a href="mailto:email@domainname.com">Email</a>
        </nav>
        <div class="profile__bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc metus magna, hendrerit eget sapien ut, placerat rhoncus sem. Aenean quis sapien ut ex tincidunt dapibus. Donec finibus, dui ac luctus rhoncus, tortor justo egestas dolor, ut rhoncus dolor massa eget nisl. Suspendisse interdum ac sapien non consequat. </p>
        </div>
      </div>
    </div>

  </div>
  <div class="col-2">
    <div class="profile">
      <div class="profile__photo">
        <img src="{{baseurl}}/assets/toolkit/images/profiles/leah-van-staden.jpg" />
      </div>
      <div class="profile__info">
        <div class="profile__name">Leah Van Staden</div>
        <div class="profile__title">Lead Elder</div>
        <nav class="profile__contact">
          <a href="http://www.twitter.com/username">Twitter</a>
          <a href="http://www.twitter.com/username">Facebook</a>
          <a href="mailto:email@domainname.com">Email</a>
        </nav>
        <div class="profile__bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc metus magna, hendrerit eget sapien ut, placerat rhoncus sem. Aenean quis sapien ut ex tincidunt dapibus. Donec finibus, dui ac luctus rhoncus, tortor justo egestas dolor, ut rhoncus dolor massa eget nisl. Suspendisse interdum ac sapien non consequat. </p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
{{> base.footer}}
