<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">This is the item heading</div>
    <div class="collapsible-body"><p>Lacus a eros et eros ridiculus parturient nibh arcu ut tincidunt a consectetur sapien a ipsum netus arcu consectetur adipiscing. Metus feugiat nulla hendrerit consectetur leo magnis lobortis ipsum fringilla platea suspendisse adipiscing donec vestibulum a scelerisque sapien curae.</p></div>
  </li>
  <li>
    <div class="collapsible-header">This is the item heading</div>
    <div class="collapsible-body"><p>Lacus a eros et eros ridiculus parturient nibh arcu ut tincidunt a consectetur sapien a ipsum netus arcu consectetur adipiscing. Metus feugiat nulla hendrerit consectetur leo magnis lobortis ipsum fringilla platea suspendisse adipiscing donec vestibulum a scelerisque sapien curae.</p></div>
  </li>
  <li>
    <div class="collapsible-header">This is the item heading</div>
    <div class="collapsible-body"><p>Lacus a eros et eros ridiculus parturient nibh arcu ut tincidunt a consectetur sapien a ipsum netus arcu consectetur adipiscing. Metus feugiat nulla hendrerit consectetur leo magnis lobortis ipsum fringilla platea suspendisse adipiscing donec vestibulum a scelerisque sapien curae.</p></div>
  </li>
</ul>
